html {
    background-color:#000000;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    width:1310px;
    margin:auto;
}

h1 {
    color:#007D7B;
    text-transform:uppercase;
    margin-top:40px;
}

nav li {
    list-style:none;
    display:inline-flex;
    position:relative;
    left:1000px;
    top:-40px;
    text-transform:uppercase;
    margin-right:20px;
}

nav a {
    color:#FFFFFF;
    text-decoration:none;
}

nav a:hover {
    color:#007D7B;
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    padding:16px;
    border-width:16px;
    background-color:#007D7B;
}

main {
    background-color:#FFFFFF;
    padding: 20px;
}

h2 {
    text-transform:uppercase;
}

.top {
    float:left;
}

.about{
    text-align:right;
    padding-right:20px;
    margin:0px;
}

.images {
    width:1310px;
    padding:-20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1500px;
}

figure {
    float:left;
    margin:5px 5px 5px 5px;
    position:relative;
}

figcaption {
    text-transform:uppercase;
    color:#FFFFFF;
    position:relative;
    top:-30px;
    right:-10px;
}

.contact {
    color:#FFFFFF;
    text-align:center;
}

.form {
    text-align:left;
    padding-left:225px;
    text-transform:uppercase;
}

input {
    padding:16px;
    width:850px;
    text-transform:uppercase;
    color:#007D7B;
    font-weight:bolder;
}

.submit {
    text-transform:uppercase;
    color:#FFFFFF;
    padding:16px;
    border-radius:16px;
    width:300px;
    background-color:#007D7B;
}

footer {
    text-align:center;
    text-transform:uppercase;
    color:#FFFFFF;
    padding-top:20px;
}